# setting.config(UTF-8)

[token]
# 网易云音乐账号（手机号）
account = 

# 密码，明文，请直接输入明文，不需要加密，下方md5Switch请选择false，true会造成二次加密
password = 

# 国家码，用于国外手机号登陆，国内为86
countrycode = 

# 歌单id，请自行选择一个歌曲数量大于300的歌单，歌单id获取方式查看readme
al_id = 123456


[setting]
# 接口API，开关的选项只有 True 和 False
# 如需使用本项目还请自行部署API，地址：https://github.com/ZainCheung/netease-cloud-api
api = http://localhost:3000/

# 该项不要更改，保持false即可
md5Switch = false

# 是否开启多账号功能,如果打开将会忽视配置文件里的账号而从account.json中寻找账号信息
# 如果选择使用多账号,请配置好account里的账号和密码,即account和password,而sckey不是必需的,如果为空则不会进行微信推送
# 介于账号安全着想,account.json中的密码必须填写md5加密过的,请不要向他人透露自己的明文密码
peopleSwitch = false

# 推送方式选择
# 可选参数wxpusher、SCTurbo或留空
# wxpusher: 使用 WxPusher 推送
# SCTurbo: 使用 Server酱Turbo版 推送
# Bark: 使用 Bark 推送
# 留空：使用 Server酱免费版 推送或不推送
pushmethod =

# Server酱的密匙,不需要推送就留空
# 免费版密匙的免费申请参考:http://sc.ftqq.com/
# Turbo版的密钥获取:https://sct.ftqq.com/sendkey
# 免费版和Turbo版的密钥长度不一样，请注意检查，不可混用
sckey = SCU97783T70c13167b4daa422f4d419a765eb4ebb5ebc9********

# Wxpusher 推送参数，需要将pushmethod指定为wxpusher，应用和uid的免费申请参考:https://wxpusher.zjiecode.com/
appToken = AT_6kBmt***************************
wxpusheruid = UID_t***************************

# Bark 推送参数, 请参考https://github.com/Finb/Bark, 公用默认服务器为https://api.day.app/
barkServer = https://api.day.app
barkKey =
